<template>
  <v-app id="app-window">
    <header>
      <NavigationBar id="navigation-bar" class="h-5"/>
    </header>

    <v-main>
      <router-view class="h-95" />
    </v-main>
  </v-app>
</template>

<script>
import NavigationBar from "@/components/NavigationBar";

export default {
  name: "App",

  components: {
    NavigationBar,
  },

  data: () => ({
    //
  }),
};
</script>

<style scoped>
#app-window {
  overflow-x: hidden;
}
#navigation-bar {
  height: 5%;
}
.h-95 {
  max-height: 95%;
}
</style>
