<template>
  <v-container class="grey lighten-5" fluid>
    <h1 class="align-center">Analyze files</h1>
    <FileAnalysisForm></FileAnalysisForm>
  </v-container>
</template>

<script>
import FileAnalysisForm from "@/components/FileAnalysisForm";
export default {
  name: "FileAnalisys",
  components: {FileAnalysisForm},
};
</script>

<style scoped></style>
