<template>
  <div class="home">
    <v-card>
      <v-card-title>Home page</v-card-title>
      <v-card-subtitle>Hello! Please connect to Android Virtual Device in order to use all application functions</v-card-subtitle>
      <v-card-text>
        <p>
          AptDroid is system created in order to simplify process of analyzing system behavior, especially during advanced APT attacks.
          <br />
          AptDroid uses:
          <ul>
            <li>Android Virtual Device (Emulator)</li>
            <li>Android Debug Bridge</li>
            <li>Koodous</li>
            <li>VirusTotal</li>
          </ul>
        </p>
      </v-card-text>
    </v-card>
    <EmulatedDeviceStatus />
    <v-container>
      <v-row align="center">
        <v-col>
          <v-btn
              rounded
              outlined
              color="primary"
              dark
              href="/analysis"
          >
            File Analysis
          </v-btn>
          <v-btn
              rounded
              color="primary"
              dark
              href="/settings"
          >
            Settings
          </v-btn>
          <v-btn
              rounded
              outlined
              color="primary"
              dark
              href="/status"
          >
            Status
          </v-btn>
          <v-btn
              rounded
              color="primary"
              dark
              href="/sequences"
          >
            Sequences
          </v-btn>
          <v-btn
              rounded
              outlined
              color="primary"
              dark
              href="/sequenceRunner"
          >
            SequenceRunner
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
// @ is an alias to /src
import EmulatedDeviceStatus from "@/components/EmulatedDeviceStatus";

export default {
  name: "Home",
  data:() => ({
  }),
  components: {
    EmulatedDeviceStatus,
  },
};
</script>
