<template>
  <v-container class="sequence-container grey lighten-5" fluid>
    <h1 class="align-center">Sequences Page</h1>
    <v-row no-gutters>
      <v-col cols="12" sm="4">
        <v-card class="pa-2" outlined title>
          <SavedSequencesViewer @selectedSequenceId="savedSequenceClicked" />
        </v-card>
      </v-col>
      <v-col cols="12" sm="6" md="8">
        <v-card class="pa-2" outlined title>
          <EditSequenceView :sequenceId="sequenceId" :installedPackages="installedPackages"/>
        </v-card>
      </v-col>
      <!--      <v-col-->
      <!--          cols="12"-->
      <!--          sm="2">-->
      <!--        <v-card-->
      <!--            class="pa-2"-->
      <!--            outlined-->
      <!--            title>-->
      <!--          <EditActionBlockForm :actionBlock="actionBlock" />-->
      <!--        </v-card>-->
      <!--      </v-col>-->
    </v-row>
  </v-container>
</template>

<script>
import SavedSequencesViewer from "@/components/SavedSequencesViewer.vue";
import EditSequenceView from "@/components/EditSequenceView.vue";
import store from "../store";
import AdbService from "@/services/AdbService";

export default {
  store,
  name: "Sequences",
  components: {
    SavedSequencesViewer,
    EditSequenceView,
  },
  data: () => ({
    sequenceId: null,
    actionBlock: null,
    installedPackages: [],
  }),
  methods: {
    savedSequenceClicked(value) {
      console.log(value);
      this.sequenceId = value;
    },
    async getInstalledPackages() {
      AdbService.getInstalledPackages(this.deviceId)
        .then((result) => {
          this.installedPackages = [];
          result.forEach((packageItem) => {
            this.installedPackages.push(packageItem.mainActivity);
          });
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  mounted() {
    this.getInstalledPackages();
  },
  computed: {
    deviceId: function() {
      return this.$store.state.deviceId;
    }
  }
};
</script>

<style scoped>
.sequence-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
</style>
