<template>
  <v-container class="main-container" >
    <v-container class="sidebar" fluid>
      <SavedSequencesTableRunner fluid />
    </v-container>
    <v-container class="main-content">
      <v-btn @click="reloadMonitorData">Reload</v-btn>
      <!--      <LineChart :monitorData="monitorData"></LineChart>-->
      <v-container v-if="hasData">
        <LineChart :chart-data="monitorData"></LineChart>
      </v-container>
      <v-container v-else>
        <v-alert
            color="red"
            outlined
            prominent
            text
            type="error"
        >{{ errorMessage }}</v-alert>
      </v-container>
    </v-container>
    <v-container class="footer">
      <v-row>
        <v-col class="col-sm-6"><ErrorViewer />
        </v-col>
        <v-col class="col-sm-6"><SensorTable></SensorTable></v-col>
      </v-row>
      <LogTab />
    </v-container>
  </v-container>
</template>

<script>
import SavedSequencesTableRunner from "@/components/SavedSequencesTableRunner.vue";
import DeviceStateService from "@/services/DeviceStateService";
import LineChart from "@/components/LineChart";
import LogTab from "@/components/LogTab";
import SensorTable from "@/components/SensorTable";
import ErrorViewer from "@/components/ErrorViewer";

export default {
  name: "SequenceRunner",
  components: { LineChart, SavedSequencesTableRunner, LogTab, SensorTable, ErrorViewer },
  data: () => ({
    sequenceId: "",
    cpuData: [],
    batteryData: [],
    dateLabels: [],
    hasData: false,
    errorMessage: "",
  }),
  computed: {
    deviceName: function () {
      return this.$store.state.avdName;
    },
    monitorData: function () {
      return {
        labels: this.dateLabels,
        datasets: [
          {
            label: "CPU",
            borderColor: "#f87979",
            backgroundColor: "transparent",
            data: this.cpuData,
          },
          {
            label: "Battery",
            borderColor: "#5bf8bf",
            backgroundColor: "transparent",
            data: this.batteryData,
          },
        ],
      };
    },
  },
  methods: {
    async reloadMonitorData() {
      DeviceStateService.getDeviceMonitorData(this.deviceName)
        .then((result) => {
          this.dateLabels = result.statusTime;
          this.cpuData = result.cpuUsagePercentage;
          this.batteryData = result.capacity;
          this.hasData = true;
          // this.monitorData = value;
        })
        .catch((error) => {
          this.hasData = false;
          if (error.response.status === 400) {
            var response = JSON.parse(error.request.response);
            this.errorMessage = response.message;
          } else this.errorMessage = "Unexpected error. Please try again.";
        });
    },
  },
  mounted() {
    this.reloadMonitorData();
  },
};
</script>

<style scoped>
.main-container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "s m"
    "f f";
}
.header {
  /*background: #ff5454;*/
  grid-area: h;
}
.sidebar {
  /*background: #61cc9e;*/
  grid-area: s;
}
.main-content {
  /*background: #ffffff;*/
  grid-area: m;
}
.footer {
  /*background: #54a3ff;*/
  grid-area: f;
}
</style>
