<template>
  <v-container>
    <v-card>
      <v-card-title>Settings</v-card-title>
      <EmulatorSettingsPane></EmulatorSettingsPane>
    </v-card>
  </v-container>
</template>

<script>
import axios from "axios";
import EmulatorSettingsPane from "@/components/EmulatorSettingsPane";

export default {
  name: "Settings",
  components: {EmulatorSettingsPane},
  methods: {
    runScript() {
      axios
        .get("/api/avd/sendCommand", {
          params: {
            command: "sms send 123 command from electron",
          },
        })
        .then((result) => {
          console.log(result);
          return result;
        })
        .catch((err) => {
          console.err(err);
        });
    },
  },
};
</script>
