<template>
  <v-container fluid>
    <h1>Status page</h1>
    <v-carousel
      height="630"
      hide-delimiter-background
      show-arrows-on-hover
      light
    >
      <v-carousel-item>
        <v-sheet color="white" height="100%" style="  overflow: scroll;">
          <v-row align-content="center">
            <v-col class="col-sm-12">
              <ErrorViewer />
            </v-col>
          </v-row>
          <v-row align-content="center">
            <v-col class="col-sm-6">
              <EmulatedDeviceStatus />
              <SensorTable></SensorTable>
            </v-col>
            <v-col class="col-sm-6">
              <LogTab></LogTab>
            </v-col>
          </v-row>
        </v-sheet>
      </v-carousel-item>
      <v-carousel-item>
        <v-sheet color="white" height="100%">
          <v-row align-content="center">
            <PackageCenter></PackageCenter>
          </v-row>
        </v-sheet>
      </v-carousel-item>
<!--      <v-carousel-item v-for="(slide, i) in slides" :key="i">-->
<!--        <v-sheet :color="colors[i]" height="100%">-->
<!--          <v-row class="fill-height" align="center" justify="center">-->
<!--            <div class="text-h2">{{ slide }} Slide</div>-->
<!--          </v-row>-->
<!--        </v-sheet>-->
<!--      </v-carousel-item>-->
    </v-carousel>
  </v-container>
</template>

<script>
import EmulatedDeviceStatus from "@/components/EmulatedDeviceStatus";
import PackageCenter from "@/components/PackageCenter";
import SensorTable from "@/components/SensorTable";
import LogTab from "@/components/LogTab";
import ErrorViewer from "@/components/ErrorViewer";

export default {
  name: "Status",
  data: () => ({
    colors: [
      "indigo",
      "warning",
      "pink darken-2",
      "red lighten-1",
      "deep-purple accent-4",
    ],
    slides: ["First", "Second", "Third", "Fourth", "Fifth"],
  }),
  components: {
    ErrorViewer,
    LogTab,
    EmulatedDeviceStatus,
    PackageCenter,
    SensorTable
  },
};
</script>
v-sheet { display: flex; align-items: center; }
<style scoped></style>
