.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.title {
    font-family: sans-serif;
}
.btn {
    display: block;
    padding: 20px 30px 20px 30px;
    border: 0;
    background: lightskyblue;
    font-size: 20px;
    color: #fff;
    border-radius: 4px;
}
.btn:hover {
    background: lightgray;
}
.btn:active {
    background: rgb(0, 183, 255);
}
.btn:disabled {
    background: gray;
}
.info {
    border-color: darkgray;
    border: 5vh;
    border-radius: 2vh;
    background-color: aliceblue;
    padding: 2vh;
}