<template>
  <v-card
    class="ActionBlock"
    v-model="actionBlock"
    color="secondary"
  >
    <v-card-title>{{ actionBlock.commandAction }}</v-card-title>
    <v-card-text
      ><strong>Full command:</strong>
      {{
        actionBlock.commandAction +
        " " +
        actionBlock.subCommand1 +
        " " +
        actionBlock.subCommand2 + " " +
        actionBlock.subCommand3
      }}
      <br />
      <strong>Sleep time: </strong>{{ actionBlock.sleepSeconds }}
      <br />
    </v-card-text>
    <v-card-actions>
      <v-btn
          rounded
          color="accent"
          @click="actionSelected(actionBlock)"
      >
        <v-icon small class="mr-2" >
          mdi-pencil
        </v-icon>
      </v-btn>
      <v-btn
          rounded
          color="error"
          @click="deleteSelectedAction(actionBlock)"
      >
        <v-icon small> mdi-delete </v-icon>
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: "ActionBlock",
  props: {
    actionBlock: {
      id: null,
      commandAction: null,
      subCommand1: null,
      subCommand2: null,
      subCommand3: null,
      sleepSeconds: null,
      nextAction: null,
    },
  },
  data: () => ({}),
  methods: {
    actionSelected(actionBlock) {
      this.$emit("selectedActionBlock", actionBlock);
    },
    deleteSelectedAction(actionBlock) {
      this.$emit("deleteActionBlock", actionBlock);
    },
  },
};
</script>

<style scoped>
.ActionBlock {
  display: inline-block;
  margin: 10px;
  padding: 0px 0px;
  font-size: 40px;
  border-radius: 20px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-wrap: normal;
  max-width: 35%;
}
</style>
