<template>
  <v-container fluid>
    <v-row outlined v-if="showSequenceDescription">
      <SequenceDescription :sequence="sequence"></SequenceDescription>
    </v-row>
    <v-row no-gutters>
      <v-col cols="12" sm="8">
        <v-container class="action-list-container">
          <v-container v-show="sequenceId">
            <v-btn outlined rounded text color="primary" @click="addActionBlock" :disabled="disableAddAction"
              >Add Action</v-btn
            >
            <v-btn
              outlined
              rounded
              text
              color="primary"
              @click="updateActionList"
              >Save Sequence</v-btn
            >
            <v-btn outlined rounded text color="error" @click="removeActions"
              >Remove actions</v-btn
            >
            <v-btn outlined rounded text color="info" @click="clearSequence"
              >Close</v-btn
            >
            <div id="actionDraggable">
              <ActionBlock
                v-for="actionBlock in actionBlockList"
                :key="actionBlock.id"
                :action-block="actionBlock"
                @selectedActionBlock="actionBlockClicked"
                @deleteActionBlock="deleteActionBlock"
              />
            </div>
          </v-container>
          <template v-show="!sequenceId">
            <!--            <h1>Select sequence</h1>-->
          </template>
        </v-container>
      </v-col>
      <v-col cols="12" sm="4">
        <v-card>
          <EditActionBlockForm
            v-if="showActionBlockEditForm"
            :actionBlock="actionBlock"
            :installedPackages="installedPackages"
            @addedNewActionBlock="handleNewActionBlock"
            @updatedActionBlock="handleUpdateActionBlock"
          />
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import SequenceService from "@/services/SequenceService";
import ActionBlockService from "@/services/ActionBlockService";
import { Sortable } from "@shopify/draggable";
import ActionBlock from "@/components/ActionBlock";
import EditActionBlockForm from "@/components/EditActionBlockForm";
import SequenceDescription from "@/components/SequenceDescription";

export default {
  name: "EditSequenceView",
  components: { SequenceDescription, ActionBlock, EditActionBlockForm },
  props: {
    sequenceId: null,
    installedPackages: {
      type: Array,
      // eslint-disable-next-line vue/require-valid-default-prop
      default: [],
    },
  },
  data: () => ({
    disableAddAction: false,
    sortable: null,
    Classes: {
      draggable: "StackedListItem--isDraggable",
      capacity: "draggable-container-parent--capacity",
    },
    sequence: {
      name: null,
      numberOfBlocks: null,
      status: null,
      exceptionMessage: null,
      startTime: null,
      finishTime: null,
    },
    actionBlock: {
      id: null,
      commandAction: null,
      subCommand1: null,
      subCommand2: null,
      subCommand3: null,
      sleepSeconds: null,
      nextAction: null,
      nextActionId: null,
    },
    blockToUpdate: null,
    actionBlockList: null,
    actionBlockLength: 0,
    showActionBlockEditForm: false,
    showSequenceDescription: false,
    actionBlockIdOrder: [],
  }),
  methods: {
    getSequence(id) {
      this.actionBlockIdOrder = [];
      if (!id) {
        this.clearSequence();
        return;
      }
      SequenceService.getSequence(id)
        .then((sequence) => {
          this.disableAddAction = false;
          this.sequence = sequence;
          this.showSequenceDescription = true;
          if (
            Object.prototype.hasOwnProperty.call(sequence, "actionBlockDtoList")
          ) {
            this.actionBlockList =
              sequence.actionBlockDtoList !== null
                ? sequence.actionBlockDtoList
                : [];
            this.actionBlockLength = this.actionBlockList.length
              ? this.actionBlockList.length - 1
              : 0;
            this.actionBlockList.forEach((block) => {
              this.actionBlockIdOrder.push(block.id);
            })
            this.renderActions();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    renderActions() {
      console.log("binding");
      this.sortable = null;
      this.sortable = new Sortable(document.querySelector("#actionDraggable"), {
        draggable: ".ActionBlock",
      });
      this.sortable.on("sortable:start", () => {
        console.log("sortable:start");
      });
      this.sortable.on("sortable:sort", () => {
        console.log("sortable:sort");
      });
      this.sortable.on("sortable:sorted", () => {
        console.log("sortable:sorted");
      });
      this.sortable.on("sortable:stop", (sortableStopEvent) => {
        console.log("sortable:stop");
        let oldIndex = sortableStopEvent.data.oldIndex;
        let newIndex = sortableStopEvent.data.newIndex;
        let movedId = this.actionBlockIdOrder[oldIndex];
        this.actionBlockIdOrder.splice(oldIndex, 1);
        this.actionBlockIdOrder.splice(newIndex, 0, movedId);
      });
      this.sortable.on("sortable:click", () => {
        console.log("sortable:click");
      });
    },
    actionBlockClicked(value) {
      this.showActionBlockEditForm = true;
      this.actionBlock = value;
    },
    async deleteActionBlock(actionBlockToDelete) {
      // if(actionBlockToDelete.id === this.actionBlockList[0].id)
      ActionBlockService.deleteActionBlock(actionBlockToDelete)
        .then(() => {
          // SequenceService.getSequence(this.sequenceId);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    addActionBlock() {
      debugger;
      let emptyActionBlock = {
        id: "",
        commandAction: "",
        subCommand1: "",
        subCommand2: "",
        subCommand3: "",
        sleepSeconds: "",
        nextAction: "",
        nextActionId: "",
      };
      this.actionBlockList.push(emptyActionBlock);
      this.actionBlockLength = this.actionBlockList.length
        ? this.actionBlockList.length
        : 0;
      this.actionBlock = emptyActionBlock;
      this.actionBlockIdOrder.push(-1);
      this.disableAddAction = true;
    },
    async handleNewActionBlock(actionBlock) {
      debugger;
      this.actionBlock = actionBlock;
      this.showActionBlockEditForm = false;
      this.disableAddAction = false;
      if (this.actionBlockList.length - 2 > 0) {
        // add next action block
        let secondToLastActionBlock = this.actionBlockList[
          this.actionBlockList.length - 2
        ];
        secondToLastActionBlock.nextAction = actionBlock;
        secondToLastActionBlock.nextActionId = actionBlock.id;
        ActionBlockService.addNextAction(
          secondToLastActionBlock.id,
          actionBlock
        )
          .then((result) => {
            this.getSequence(this.sequenceId);
            console.log(result);
          })
          .catch((error) => {
            console.log(error);
          });
      } else {
        SequenceService.addHead(this.sequenceId, actionBlock)
          .then((result) => {
            this.getSequence(this.sequenceId);
            console.log(result);
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
    handleUpdateActionBlock(actionBlock) {
      this.showActionBlockEditForm = false;
      this.actionBlockList.forEach((block) => {
        if (block.id === actionBlock.id) {
          block = actionBlock;
        }
      });
    },
    clearSequence() {
      this.showSequenceDescription = false;
      this.sequenceId = null;
      this.sequence = {
        name: null,
        numberOfBlocks: null,
        status: null,
        exceptionMessage: null,
        startTime: null,
        finishTime: null,
      };
      this.actionBlockIdOrder = [];
    },
    removeActions() {
      SequenceService.deleteActions(this.sequenceId)
        .then((result) => {
          this.actionBlockList = [];
          console.log(result);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    updateActionList() {
      let actionIds = this.actionBlockIdOrder;
      SequenceService.updateActionList(this.sequenceId, actionIds)
        .then((result) => {
          console.log(result);
          this.getSequence();
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  mounted() {
    if (this.sequenceId) {
      this.getSequence(this.sequenceId);
    }
  },
  watch: {
    sequenceId: {
      handler: function (val, oldVal) {
        console.log(val, oldVal);
        this.getSequence(val);
      },
    },
  },
};
</script>

<style scoped>
#xxx > span {
  display: inline-block;
  margin: 10px;
  padding: 30px 60px;
  color: white;
  font-size: 40px;
  border-radius: 20px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
#actionDraggable > ActionBlock {
  display: inline-block;
  margin: 10px;
  padding: 30px 60px;
  color: white;
  font-size: 40px;
  border-radius: 20px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.draggable-source--is-dragging {
  visibility: hidden;
}
</style>
