<template>
  <v-container fluid>
    <form>
      <v-select
        v-model="actionBlock.type"
        :items="actionType"
        item-text="display"
        item-value="value"
        label="Type"
        solo
      ></v-select>
      <v-container v-if="actionBlock.type === 'avdEmulator'">
        <v-select
          v-model="actionBlock.commandAction"
          :items="emulatorActions"
          label="Command"
          required
        ></v-select>

        <!--          @input="$v.name.$touch()"-->
        <!--          @blur="$v.name.$touch()"-->
        <v-select
          v-model="actionBlock.subCommand1"
          :items="emulatorSubActions[actionBlock.commandAction]"
          label="Subcommand1"
          required
        ></v-select>
        <!--          @input="$v.name.$touch()"-->
        <!--          @blur="$v.name.$touch()"-->
        <v-select
          v-if="
            subSubActions.hasOwnProperty(avdCommandAndSubcommand) &&
            subSubActions[avdCommandAndSubcommand].length > 0
          "
          v-model="actionBlock.subCommand2"
          :items="subSubActions[avdCommandAndSubcommand]"
          label="Subcommand2"
          required
        ></v-select>
        <v-text-field
          v-else
          v-model="actionBlock.subCommand2"
          :counter="10"
          label="Subcommand2"
          required
        ></v-text-field>
        <v-text-field
          v-model="actionBlock.subCommand3"
          :counter="10"
          label="Subcommand3"
          required
        ></v-text-field>
      </v-container>
      <v-container v-else-if="actionBlock.type === 'adb'">
        <v-select
          v-model="actionBlock.commandAction"
          :items="adbActions"
          label="Command"
          required
        ></v-select>
        <v-select
            v-model="actionBlock.subCommand1"
            :counter="50"
            :items="devices"
            label="Device id"
            required
        ></v-select>

        <!--          @input="$v.name.$touch()"-->
        <!--          @blur="$v.name.$touch()"-->
        <v-select v-if="
            actionBlock.commandAction === 'run_package' ||
            actionBlock.commandAction === 'stop_package' ||
            actionBlock.commandAction === 'uninstall_package'"
          v-model="actionBlock.subCommand2"
          :items="installedPackages"
          label="Package Name" required ></v-select
        >
        <v-text-field
            v-else
            v-model="actionBlock.subCommand2"
            :counter="10"
            label="Subcommand1"
            required
        ></v-text-field>
      </v-container>
      <v-container v-else>
        <v-text-field
            v-model="actionBlock.commandAction"
            :counter="20"
            label="Command"
            required
        ></v-text-field>

        <!--          @input="$v.name.$touch()"-->
        <!--          @blur="$v.name.$touch()"-->
        <v-text-field
            v-model="actionBlock.subCommand1"
            :counter="10"
            label="Subcommand1"
            required
        ></v-text-field>
        <!--          @input="$v.name.$touch()"-->
        <!--          @blur="$v.name.$touch()"-->

        <v-text-field
            v-model="actionBlock.subCommand2"
            :counter="10"
            label="Subcommand2"
            required
        ></v-text-field>
        <v-text-field
            v-model="actionBlock.subCommand3"
            :counter="10"
            label="Subcommand3"
            required
        ></v-text-field>
      </v-container>
      <v-select
        v-model="actionBlock.sleepSeconds"
        :items="seconds"
        label="Sleep seconds"
        solo
      ></v-select>

      <v-btn class="mr-4" @click="store"> Store </v-btn>
      <v-btn @click="clear"> clear </v-btn>
    </form>
  </v-container>
</template>

<script>
import ActionBlockService from "@/services/ActionBlockService";

export default {
  name: "EditActionBlockForm",
  compoponents: {},
  data: () => ({
    seconds: Array(100)
      .fill()
      .map((x, i) => i),
    actionType: [
      {display: "Android Virtual Device", value: "avdEmulator"},
      {display: "Android Debug Bridge", value: "adb"},
      {display: "Koodous", value: "koodous"},
      {display: "VirusTotal", value: "virustotal"},
    ],
    adbActions: [
      "is_Adb_Connected",
      "get_devices",
      "get_installed_package",
      "run_package",
      "get_current_activity",
      "stop_package",
      "install_package",
      "uninstall_package",
    ],
    emulatorActions: [
      "ping",
      "event",
      "geo",
      "gsm",
      "crash",
      "crash-on-exit",
      "kill",
      "restart",
      "network",
      "power",
      "redir",
      "sms",
      "avd",
      "sensor",
      "finger",
      "rotate",
    ],
    emulatorSubActions: {
      ping: [],
      event: ["send", "types", "codes", "text", "mouse"],
      geo: ["nmea", "fix", "gnss"],
      gsm: [
        "list",
        "call",
        "busy",
        "hold",
        "accept",
        "cancel",
        "data",
        "meter",
        "voice",
        "status",
        "signal",
        "signal-profile",
      ],
      crash: [],
      "crash-on-exit": [],
      kill: [],
      restart: [],
      network: ["status", "speed", "delay", "capture"],
      power: ["display", "ac", "status", "present", "health", "capacity"],
      sms: ["send"],
      avd: [
        "stop",
        "start",
        "status",
        "heartbeat",
        "rewindaudio",
        "name",
        "snapshot",
        "pause",
        "hostmicon",
        "hostmicoff",
        "resume",
        "bugreport",
        "id",
        "windowtype",
        "path",
        "discoverypath",
        "snapshotspath",
        "snapshotpath",
      ],
      sensor: ["status", "get", "set"],
      finger: ["touch", "remove"],
      rotate: [],
    },
    subSubActions: {
      "event-send": [],
      "event-types": [],
      "event-codes": [],
      "event-text": [],
      "event-mouse": [],
      "geo-nmea": [],
      "geo-fix": [],
      "geo-gnss": [],
      "gsm-list": [],
      "gsm-call": [],
      "gsm-busy": [],
      "gsm-hold": [],
      "gsm-accept": [],
      "gsm-cancel": [],
      "gsm-data": ["unregistered", "home", "roaming", "denied", "off", "on"],
      "gsm-meter": ["on", "off"],
      "gsm-voice": ["unregistered", "home", "roaming", "denied", "off", "on"],
      "gsm-status": [],
      "gsm-signal": [
        "0",
        "1",
        "2",
        "3",
        "4",
        "5",
        "6",
        "7",
        "8",
        "9",
        "10",
        "11",
        "12",
        "13",
        "14",
        "15",
        "16",
        "17",
        "18",
        "19",
        "20",
        "21",
        "22",
        "23",
        "24",
        "25",
        "26",
        "27",
        "28",
        "29",
        "30",
        "31",
        "99",
      ],
      "gsm-signal-profile": ["0", "1", "2", "3", "4"],
      "network-status": [],
      "network-speed": [
        "gsm",
        "hscsd",
        "gprs",
        "umts",
        "edge",
        "hsdpa",
        "lte",
        "evdo",
        "5g",
        "full",
      ],
      "network-delay": [],
      "network-capture": ["start", "stop"],
      "power-display": [],
      "power-ac": ["on", "off"],
      "power-status": [
        "unknown",
        "charging",
        "discharging",
        "not-charging",
        "full",
      ],
      "power-present": ["true", "false"],
      "power-health": [
        "unknown",
        "good",
        "overheat",
        "dead",
        "overvoltage",
        "failure",
      ],
      "power-capacity": [
        "0",
        "1",
        "2",
        "3",
        "4",
        "5",
        "6",
        "7",
        "8",
        "9",
        "10",
        "11",
        "12",
        "13",
        "14",
        "15",
        "16",
        "17",
        "18",
        "19",
        "20",
        "21",
        "22",
        "23",
        "24",
        "25",
        "26",
        "27",
        "28",
        "29",
        "30",
        "31",
        "32",
        "33",
        "34",
        "35",
        "36",
        "37",
        "38",
        "39",
        "40",
        "41",
        "42",
        "43",
        "44",
        "45",
        "46",
        "47",
        "48",
        "49",
        "50",
        "51",
        "52",
        "53",
        "54",
        "55",
        "56",
        "57",
        "58",
        "59",
        "60",
        "61",
        "62",
        "63",
        "64",
        "65",
        "66",
        "67",
        "68",
        "69",
        "70",
        "71",
        "72",
        "73",
        "74",
        "75",
        "76",
        "77",
        "78",
        "79",
        "80",
        "81",
        "82",
        "83",
        "84",
        "85",
        "86",
        "87",
        "88",
        "89",
        "90",
        "91",
        "92",
        "93",
        "94",
        "95",
        "96",
        "97",
        "98",
        "99",
        "100",
      ],
      "sms-send": [],
      "avd-stop": [],
      "avd-start": [],
      "avd-status": [],
      "avd-heartbeat": [],
      "avd-rewindaudio": [],
      "avd-name": [],
      "avd-snapshot": [],
      "avd-pause": [],
      "avd-hostmicon": [],
      "avd-hostmicoff": [],
      "avd-resume": [],
      "avd-bugreport": [],
      "avd-id": [],
      "avd-windowtype": [],
      "avd-path": [],
      "avd-discoverypath": [],
      "avd-snapshotspath": [],
      "avd-snapshotpath": [],
      "sensor-status": [],
      "sensor-get": [
        "acceleration",
        "gyroscope",
        "magnetic-field",
        "orientation",
        "temperature",
        "proximity",
        "light",
        "pressure",
        "humidity",
        "magnetic-field-uncalibrated",
        "gyroscope-uncalibrated",
        "hinge-angle0",
        "hinge-angle1",
        "hinge-angle2",
        "heart-rate",
      ],
      "sensor-set": [
        "acceleration",
        "gyroscope",
        "magnetic-field",
        "orientation",
        "temperature",
        "proximity",
        "light",
        "pressure",
        "humidity",
        "magnetic-field-uncalibrated",
        "gyroscope-uncalibrated",
        "hinge-angle0",
        "hinge-angle1",
        "hinge-angle2",
        "heart-rate",
      ],
      "finger-touch": [],
      "finger-remove": [],
    },
    storedActionBlock: {
      id: null,
      commandAction: null,
      subCommand1: null,
      subCommand2: null,
      subCommand3: null,
      sleepSeconds: null,
      nextAction: null,
      nextActionId: null,
    },
  }),
  computed: {
    avdCommandAndSubcommand: function () {
      if (this.actionBlock.type === "avdEmulator") {
        return (
          this.actionBlock.commandAction + "-" + this.actionBlock.subCommand1
        );
      } else return "";
    },
    devices: function() {
      let devices = [];
      devices.push(this.$store.state.deviceId);
      return devices;
    },
  },
  props: {
    installedPackages: {
      type: Array,
      // eslint-disable-next-line vue/require-valid-default-prop
      default: [],
    },
    actionBlock: {
      id: null,
      commandAction: null,
      subCommand1: null,
      subCommand2: null,
      subCommand3: null,
      sleepSeconds: null,
      nextAction: null,
      nextActionId: null,
    },
  },
  methods: {
    async store() {
      this.storedActionBlock = this.actionBlock;
      if (!this.storedActionBlock.id || this.storedActionBlock.id === "") {
        // adding new action Block
        ActionBlockService.addActionBlock(this.storedActionBlock)
          .then((result) => {
            console.log(result);
            this.storedActionBlock = result;
            this.$emit("addedNewActionBlock", this.storedActionBlock);
          })
          .catch((error) => {
            console.log(error);
          });
      } else {
        // update action block
        ActionBlockService.updateActionBlock(this.storedActionBlock)
          .then((result) => {
            this.storedActionBlock = result;
            this.$emit("updatedActionBlock", this.storedActionBlock);
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
    clear() {},
  },
};
</script>

<style scoped></style>
