<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card>
          <v-card-title>
            Connection Center
          </v-card-title>
          <table>
            <tr>
              <td>
                <v-btn color="primary" elevation="2" plain @click="startEmulator"
                >Start AVD</v-btn
                >
                <v-btn color="error" elevation="2" plain @click="stopEmulator"
                >Stop AVD</v-btn
                >
              </td>
              <td>
                <div class="text-center">
                  <v-chip class="ma-2" color="success" outlined v-show="isStarted">
                    <v-icon left> mdi-server-plus </v-icon>
                    Avd Status: {{ status }}
                  </v-chip>
                  <v-chip class="ma-2" color="error" outlined v-show="!isStarted">
                    <v-icon left> mdi-server-plus </v-icon>
                    Avd Status: {{ status }}
                  </v-chip>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <v-btn color="primary" elevation="2" plain @click="connectToAvd"
                >Connect</v-btn
                >
                <v-btn color="error" elevation="2" plain @click="disconnectAvd"
                >Disconnect</v-btn
                >
              </td>
              <td>
                <div class="text-center">
                  <v-chip class="ma-2" color="success" outlined v-show="isConnected">
                    <v-icon left> mdi-server-plus </v-icon>
                    {{ avdConnectionStatus }}
                  </v-chip>
                  <v-chip class="ma-2" color="error" outlined v-show="!isConnected">
                    <v-icon left> mdi-server-plus </v-icon>
                    {{ avdConnectionStatus }}
                  </v-chip>
                </div>
              </td>
            </tr>
          </table>
        </v-card>

      </v-col>
<!--      <v-col>-->
<!--        <v-data-table-->
<!--            :headers="headers"-->
<!--            :items="items"-->
<!--            dense-->
<!--            class="elevation-1"-->
<!--            :items-per-page="5"-->
<!--            :footer-props="{-->
<!--        'disable-items-per-page': true,-->
<!--      }"-->
<!--        />-->
<!--      </v-col>-->
    </v-row>

  </v-container>
</template>

<script>
import EmulatorConstrollerService from "@/services/EmulatorControllerService";
import AvdControllerService from "@/services/AvdControllerService";
import SensorService from "@/services/SensorService";

export default {
  name: "EmulatedDeviceStatus",
  components: {},
  data: () => ({
    status: "Not started",
    isStarted: false,
    avdConnectionStatus: "Disconnected",
    isConnected: false,
    headers: [
      { text: "Sensor Name", value: "name" },
      { text: "Status", value: "status" },
      { text: "Value", value: "value" },
    ],
    items: [
      { name: "name 1", status: "john", value: "Mike" },
      { name: "name 2", status: "James", value: "Bill" },
      { name: "name 3", status: "Jack", value: "Ben" },
    ],
  }),
  props: {},
  methods: {
    async checkStatus() {
      EmulatorConstrollerService.isRunning()
        .then((booleanStatus) => {
          this.setAvdStatus(booleanStatus);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    async checkTelnetConnectionStatus() {
      AvdControllerService.isConnected()
        .then((booleanStatus) => {
          this.setAvdConnectionStatus(booleanStatus);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    async startEmulator() {
      // EmulatorConstrollerService.startAvd();
      EmulatorConstrollerService.startAvd().then((result) => {
        this.setAvdStatus(result);
      });
    },
    async stopEmulator() {
      EmulatorConstrollerService.stopAvd().then((result) => {
        this.setAvdStatus(!result);
      });
    },
    setAvdStatus(booleanStatus) {
      this.isStarted = booleanStatus;
      if (booleanStatus) this.status = "Started";
      else this.status = "Not started";
    },
    async connectToAvd() {
      AvdControllerService.connectAvdController().then((result) => {
        this.setAvdConnectionStatus(result);
      });
    },
    async disconnectAvd() {
      AvdControllerService.disconnectAvdController().then((result) => {
        this.setAvdConnectionStatus(!result);
      });
    },
    setAvdConnectionStatus(result) {
      this.isConnected = result;
      if (result) this.avdConnectionStatus = "Connected";
      else this.avdConnectionStatus = "Disconnected";
    },
    async sendCommand() {
      AvdControllerService.sendExampleCommand();
    },
    async getSensors() {
      SensorService.getSensors().then((values) => {
        this.items = [];
        values.forEach((item) => {
          // todo handling error!
          console.log(item);
          this.items.push(item);
        });
      });
    },
  },
  mounted() {
    this.getSensors();
    this.checkStatus();
    this.checkTelnetConnectionStatus();
  },
};
</script>

<style scoped></style>
