<template>
  <v-container>
    <form>
      <v-select
        v-model="selectedEmulator"
        :items="availableEmulators"
        label="Emulator name"
        outlined
      ></v-select>
      <v-select
        v-model="selectedPort"
        :items="availablePorts"
        label="Port"
        outlined
      >
      </v-select>
    </form>
  </v-container>
</template>

<script>
import AdbService from "@/services/AdbService";
import store from "../store";

export default {
  store,
  name: "EmulatorSettingsPane",
  data: () => ({
    selectedEmulator: "",
    availableEmulators: [],
    selectedPort: "",
    availablePorts: [5554],
  }),
  methods: {
    async getAvailableEmulators() {
      AdbService.getAvailableDevices()
        .then((result) => {
          this.availableEmulators = result;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getAvailablePorts() {
      this.availablePorts = [];
      let portNumber = 5554;
      while (portNumber < 5585) {
        this.availablePorts.push(portNumber);
        portNumber += 2;
      }
    },
  },
  mounted() {
    debugger;
    this.selectedEmulator = this.$store.state.avdName;
    this.selectedPort = this.$store.state.port;
    this.getAvailableEmulators();
    this.getAvailablePorts();
  },
};
</script>

<style scoped></style>
