<template>
  <v-container>
    <v-alert type="error" v-if="showDialog">
      Malicious action detected, please check below.
    </v-alert>
    <v-card class="ErrorViewer" v-if="showCard">
      <v-card-title class="ErrorViewer"> Detector Status </v-card-title>
      <v-tabs vertical background-color="red lighten-2" color="red accent-1">
        <v-tab> Fall detector </v-tab>
        <v-tab> Lying detector </v-tab>
        <v-tab> Sequence Pattern detector </v-tab>
        <v-tab> Battery and cpu detector </v-tab>

        <v-tab-item>
          <v-card class="ErrorText" flat>
            <v-card-text>
              <dl class="row">
                <dt class="col-md-4 pb-0">
                  <strong>Is currently falling?</strong>
                </dt>
                <dd class="col-sm-8 pb-0">
                  <v-chip class="ma-2" color="success" outlined v-show="detectorData.isFall">
                    True
                  </v-chip>
                </dd>
                <dt class="col-md-4 pb-0">Last start falling time</dt>
                <dd class="col-sm-8 pb-0">{{ detectorData.startFallTime }}</dd>
                <dt class="col-md-4 pb-0">Last end falling time</dt>
                <dd class="col-sm-8 pb-0">{{detectorData.endFallTIme}}</dd>
              </dl>
            </v-card-text>
          </v-card>
        </v-tab-item>
        <v-tab-item>
          <v-card class="ErrorText" flat>
            <v-card-text>
              <dl class="row">
                <dt class="col-md-4 pb-0">
                  <strong>Is currently laying?</strong>
                </dt>
                <dd class="col-sm-8 pb-0">
                  <v-chip class="ma-2" color="success" outlined v-if="detectorData.isLaying === true">
                    True
                  </v-chip>
                </dd>
                <dt class="col-md-4 pb-0">Last start laying time</dt>
                <dd class="col-sm-8 pb-0">{{ detectorData.startLayingTime }}</dd>
                <dt class="col-md-4 pb-0">Last end laying time</dt>
                <dd class="col-sm-8 pb-0">{{detectorData.endLayingTime}}</dd>
              </dl>
            </v-card-text>
          </v-card>
        </v-tab-item>
        <v-tab-item>
          <v-card class="ErrorText" flat>
            <v-card-text>
              <dl class="row">
                <dt class="col-md-4 pb-0">
                  <strong>Pattern detected</strong>
                </dt>
                <dd class="col-sm-8 pb-0">True</dd>
                <dt class="col-md-4 pb-0">Pattern detection time</dt>
                <dd class="col-sm-8 pb-0">{{ detectorData.packageChangeDates }}</dd>
<!--                <dt class="col-md-4 pb-0">Last end lying time</dt>-->
<!--                <dd class="col-sm-8 pb-0"></dd>-->
              </dl>
            </v-card-text>
          </v-card>
        </v-tab-item>
        <v-tab-item>
          <v-card class="ErrorText" flat>
            <v-card-text>
              <dl class="row">
                <dt class="col-md-4 pb-0">
                  <strong>Is battery discharing faster than 20% per hour?</strong>
                </dt>
                <dd class="col-sm-8 pb-0">
                  <p v-if="detectorData.fastDischarge">YES</p>
                  <p v-else>NO</p>
                </dd>
                <dt class="col-md-4 pb-0">
                  <strong>Current battery status</strong>
                </dt>
                <dd class="col-sm-8 pb-0">
                  {{detectorData.batteryStatus}}
                </dd>
                <dt class="col-md-4 pb-0">
                  <strong>Is cpu usage higher than 60% ?</strong>
                </dt>
                <dd class="col-sm-8 pb-0">
<!--                  <p v-if="detectorData.highCpu">YES</p>-->
<!--                  <p v-else>NO</p>-->
                  <p>YES</p>
                </dd>
              </dl>
            </v-card-text>
          </v-card>
        </v-tab-item>
      </v-tabs>
    </v-card>
  </v-container>
</template>

<script>
import DeviceStateService from "@/services/DeviceStateService";

export default {
  name: "ErrorViewer",
  components: {},
  data: () => ({
    showCard: false,
    showDialog: false,
    interval: 3000,
    timer: "",
    showData: "",
    detectorData: {
      isFall: false,
      startFallTime: "",
      endFallTIme: "",
      isLaying: "",
      startLayingTime: "",
      endLayingTime: "",
      packageNamesList: "",
      packageChangeDates: "",
      patternDetected: "",
      fastDischarge: "",
      highCpu: "",
      batteryStatus: "",
    },
  }),
  props: {},
  methods: {
    async fetchDetectorData() {
      console.log(new Date());
      this.showData = new Date();
      DeviceStateService.getDeviceDetectorData(this.deviceName)
        .then((result) => {
          if(result.startFallTime || result.startLayingTime) {
            if(!this.showCard)
              this.showDialog = true;
            this.showCard = true;
          }
          this.detectorData = result;
          console.log(result);
        })
        .catch((error) => {
          this.showCard = false;
          console.log(error);
        });
    },
    cancelAutoUpdate() {
      clearInterval(this.timer);
    },
  },
  mounted() {
    this.fetchDetectorData();
  },
  created() {
    this.fetchDetectorData();
    this.timer = setInterval(this.fetchDetectorData, this.interval);
  },
  beforeDestroy() {
    this.cancelAutoUpdate();
  },
  computed: {
    deviceName: function () {
      return this.$store.state.avdName;
    },
  },
};
</script>

<style scoped>
.ErrorViewer {
  background: #ef5350;
  color: #720a0a;
  text-align: center;
}
.ErrorText {
  /*background: #FFCDD2;*/
  color: #d50000;
}
</style>
