<template>
  <v-container fluid>
    <p class="text-justify">
      Choose one of available platforms:
      <a href="https://koodous.com" target="_blank" rel="noopener noreferrer"
        >Koodous</a
      >
      or
      <a
        href="https://www.virustotal.com/gui/home/upload"
        target="_blank"
        rel="noopener noreferrer"
        >VirusTotal</a
      >
      in order to get your file analyzed. Please provide file or SHA-256
      identifying the file.
    </p>
    <form>
      <v-select
        v-model="platformName"
        :items="serviceName"
        label="Service Name"
        required
      >
        <!--        @change="$v.select.$touch()"-->
        <!--        @blur="$v.select.$touch()"-->
      </v-select>
      <v-text-field label="SHA-256" v-model="sha256"> </v-text-field>
      <v-file-input
        counter
        show-size
        truncate-length="1"
        label="File"
        v-model="file"
      ></v-file-input>
      <v-btn class="mr-4" @click="submit"> Submit </v-btn>
    </form>
    <v-sheet
      :color="`grey ${theme.isDark ? 'darken-2' : 'lighten-4'}`"
      class="pa-3"
      v-if="loading"
    >
      <v-skeleton-loader
        class="mx-auto"
        max-width="600"
        type="card"
      ></v-skeleton-loader>
    </v-sheet>
    <KoodousAnalysisViewer
      v-if="showKoodous"
      :analysis-result="koodousAnalysisResult"
      :feed="feed"
      :votesResult="votesResult"
    >
    </KoodousAnalysisViewer>
    <v-snackbar
        v-model="snackbar"
        :timeout="timeout"
        color="error"
    >
      {{ text }}

      <template v-slot:action="{ attrs }">
        <v-btn
            color="blue"
            text
            v-bind="attrs"
            @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </v-container>
</template>

<script>
import KoodousService from "@/services/KoodousService";
import VirustotalService from "@/services/VirustotalService";
import KoodousAnalysisViewer from "@/components/KoodousAnalysisViewer";
export default {
  name: "FileAnalysisForm",
  components: { KoodousAnalysisViewer },
  props: {
    hashString: null,
    filePath: null,
  },
  data: () => ({
    showKoodous: false,
    showVirusTotal: false,
    loading: false,
    serviceName: ["VirusTotal", "Koodous"],
    platformName: null,
    sha256: null,
    file: null,
    koodousAnalysisResult: {
      androguard: {},
      cuckoo: {},
    },
    feed: {},
    votesResult: 0,
    snackbar: false,
    text: "Unexpected error while loading data from plarform. Try again",
    timeout: 4000,
  }),
  methods: {
    async submit() {
      this.hide();
      this.loading = true;
      if (this.platformName === "Koodous") {
        KoodousService.getAnalysisForSha(this.sha256)
          .then((result) => {
            this.koodousAnalysisResult = result;
            this.showKoodousFunc();
            this.loading = false;
          })
          .catch((error) => {
            console.log(error);
            this.snackbar = true;
            this.loading = false;
          });
        KoodousService.getFeedForSha(this.sha256)
          .then((result) => {
            this.feed = result;
            this.votesResult = 0;
            if (result.results && result.results.length > 0) {
              result.results.forEach((element) => {
                if (element.kind === "negative") this.votesResult--;
                else this.votesResult++;
              });
            }
            this.loading = false;
          })
          .catch((error) => {
            console.log(error);
            this.loading = false;
          });
      } else if (this.platformName === "VirusTotal") {
        VirustotalService.getAnalysisForSha(this.sha256)
          .then((result) => {
            console.log(result);
            this.loading = false;
          })
          .catch((error) => {
            console.log(error);
            this.snackbar = true;
            this.loading = false;
          });
      }
    },
    showKoodousFunc() {
      this.showKoodous = true;
    },
    showVirusTotalFunc() {
      this.showVirusTotal = true;
    },
    hide() {
      this.showKoodous = false;
      this.showVirusTotal = false;
    },
  },
  // Vuetify components provide
  // a theme variable that is
  // used to determine dark
  inject: {
    theme: {
      default: { isDark: false },
    },
  },
};
</script>

<style scoped></style>
