<template>
  <v-container>
    <v-container class="title">
      Application name: {{ analysisResult.androguard.app_name }}<br />
      Package name: {{ analysisResult.androguard.package_name }} <br />
      <v-alert v-if="votesResult > 0" outlined text type="success">
        Score: {{ votesResultString }}
      </v-alert>
      <v-alert v-else outlined text type="error">
        Score: {{ votesResultString }}
      </v-alert>
    </v-container>
    <v-toolbar color="info" dark rounded>
      <v-toolbar-title>Koodous analysis result</v-toolbar-title>
    </v-toolbar>
    <v-tabs vertical>
      <v-tab> File information </v-tab>
      <v-tab> Androguard </v-tab>
      <v-tab> Full JSON result </v-tab>

      <v-tab-item>
        <v-card flat>
          <v-card-title>File information</v-card-title>
          <v-card-text>
            <v-container>
              <dl class="row">
                <dt class="col-sm-1">Size<br />(bytes)</dt>
                <dd class="col-sm-11">
                  {{ analysisResult.cuckoo.target.file.size }}
                </dd>
                <dt class="col-sm-1">crc32</dt>
                <dd class="col-sm-11">
                  {{ analysisResult.cuckoo.target.file.crc32 }}
                </dd>
                <dt class="col-sm-1">md5</dt>
                <dd class="col-sm-11">
                  {{ analysisResult.cuckoo.target.file.md5 }}
                </dd>
                <dt class="col-sm-1">sha1</dt>
                <dd class="col-sm-11">
                  {{ analysisResult.cuckoo.target.file.sha1 }}
                </dd>
                <dt class="col-sm-1">ssdeep</dt>
                <dd class="col-sm-11">
                  {{ analysisResult.cuckoo.target.file.ssdeep }}
                </dd>
                <dt class="col-sm-1">sha256</dt>
                <dd class="col-sm-11">
                  {{ analysisResult.cuckoo.target.file.sha256 }}
                </dd>
                <dt class="col-sm-1">sha512</dt>
                <dd class="col-sm-11">
                  {{ analysisResult.cuckoo.target.file.sha512 }}
                </dd>
              </dl>
            </v-container>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-expansion-panels focusable>
          <v-expansion-panel>
            <v-expansion-panel-header>Item</v-expansion-panel-header>
            <v-expansion-panel-content>
              TODO Rest of androguard
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-textarea filled auto-grow readonly :value="prettyJson">
          </v-textarea>
        </v-card>
      </v-tab-item>
    </v-tabs>
  </v-container>
</template>

<script>
export default {
  name: "KoodousAnalysisViewer",
  props: {
    analysisResult: {
      scanning_date: null,
      sha256: null,
      status: null,
      androguard: {
        androidTv: null,
        api_key: null,
        app_name: null,
        main_activity: null,
      },
      cuckoo: {
        target: {
          file: {},
        },
      },
    },
    feed: {},
    votesResult: null,
  },
  data: () => ({}),
  methods: {},
  computed: {
    prettyJson: function () {
      if (this.analysisResult.scanning_date) {
        return JSON.stringify(this.analysisResult, undefined, 4);
      }
      return "";
    },
    votesResultString: function () {
      if (this.votesResult > 0) return "Positive";
      else if (this.votesResult < 0) return "Negative";
      else return "None";
    },
  },
};
</script>
<style scoped>
dt {
  font-weight: bold;
}
</style>
