<template>
  <v-container fluid>
    <v-tabs fluid>
      <v-tab>Android Emulator Output Log</v-tab>
      <v-tab>Android Emulator Error Log</v-tab>
      <v-tab>Logcat</v-tab>
      <v-tab-item>
        <v-card>
          <v-container>
            <LogViewer logType="avd_log" />
          </v-container>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card>
          <v-container>
            <LogViewer logType="avd_error" />
          </v-container>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card>
          <v-container>
            <LogViewer logType="logcat" />
          </v-container>
        </v-card>
      </v-tab-item>
    </v-tabs>
  </v-container>
</template>

<script>
import LogViewer from "@/components/LogViewer";
export default {
  name: "LogTab",
  components: {
    LogViewer,
  },
  data: () => ({}),
  methods: {},
};
</script>

<style scoped></style>
