<template>
  <v-container>
    <Viewer :log="log" />
  </v-container>
</template>

<script>
import Viewer from "@femessage/log-viewer";
import StorageService from "@/services/StorageService";

export default {
  name: "LogViewer",
  components: { Viewer },
  props: {
    logType: null,
  },
  data: () => ({
    defaultInterval: 10000,
    interval: 10000,
    log: "",
    logTypes: ["avd_log", "avd_error", "logcat"],
    timer: "",
  }),
  methods: {
    async loadTextFromFile(logType) {
      StorageService.getLogFile(logType)
        .then((textFile) => {
          this.log = textFile;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    fetchLogData() {
      if (this.logType && this.logType !== "")
        this.loadTextFromFile(this.logType);
    },
    cancelAutoUpdate() {
      clearInterval(this.timer);
    },
  },
  mounted() {
    this.loadTextFromFile(this.logTypes[0]);
  },
  created() {
    let intervalmiliseconds = this.interval && this.interval > 0 ? this.interval : this.defaultInterval;
    this.fetchLogData();
    this.timer = setInterval(this.fetchLogData, intervalmiliseconds);
  },
  beforeDestroy() {
    this.cancelAutoUpdate();
  },
};
</script>

<style scoped></style>
