<template>
  <v-card>
    <!--    <NavigationDrawer :drawer="drawer" />-->
    <v-app-bar color="primary" dark elevate-on-scroll>
      <v-btn
        color="accent"
        dark
        @click="previousRoute"
        :disabled="this.$route.path === '/'"
      >
        <v-icon left>mdi-arrow-left</v-icon>Back
      </v-btn>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

      <div class="d-flex align-center">
        <a href="/">
          <v-img
            alt="Logo"
            class="shrink mr-2"
            contain
            src="@/assets/aptDroid.png"
            transition="scale-transition"
            width="40"
          />
        </a>
        <v-toolbar-title>AptDroid</v-toolbar-title>
      </div>

      <v-spacer></v-spacer>

<!--      <v-btn icon>-->
<!--        <v-icon>mdi-magnify</v-icon>-->
<!--      </v-btn>-->

<!--      <v-btn icon>-->
<!--        <v-icon>mdi-heart</v-icon>-->
<!--      </v-btn>-->

<!--      <v-btn icon>-->
<!--        <v-icon>mdi-dots-vertical</v-icon>-->
<!--      </v-btn>-->
    </v-app-bar>
    <!--    <v-navigation-drawer v-model="drawer" absolute temporary>-->
    <!--      <v-list-item>-->
    <!--        <v-list-item-avatar>-->
    <!--          <v-img src="https://randomuser.me/api/portraits/men/78.jpg"></v-img>-->
    <!--        </v-list-item-avatar>-->

    <!--        <v-list-item-content>-->
    <!--          <v-list-item-title>John Leider</v-list-item-title>-->
    <!--        </v-list-item-content>-->
    <!--      </v-list-item>-->

    <!--      <v-divider></v-divider>-->

    <!--      <v-list dense>-->
    <!--        <v-list-item v-for="item in items" :key="item.title" link>-->
    <!--          <v-list-item-icon>-->
    <!--            <v-icon>{{ item.icon }}</v-icon>-->
    <!--          </v-list-item-icon>-->

    <!--          <v-list-item-content>-->
    <!--            <v-list-item-title>{{ item.title }}</v-list-item-title>-->
    <!--          </v-list-item-content>-->
    <!--        </v-list-item>-->
    <!--      </v-list>-->
    <!--    </v-navigation-drawer>-->

    <!--        <v-sheet height="400" class="overflow-hidden" style="position: relative">-->
    <!--      <v-container class="fill-height">-->
    <!--        <v-row align="center" justify="center">-->
    <!--          <v-btn color="pink" dark @click.stop="drawer = !drawer">-->
    <!--            Toggle-->
    <!--          </v-btn>-->
    <!--        </v-row>-->
    <!--      </v-container>-->

    <!--    </v-sheet>-->
  </v-card>
</template>

<script>
export default {
  name: "NavigationBar",
  components: {},
  data() {
    return {
      drawer: null,
      items: [
        { title: "Home", icon: "mdi-view-dashboard" },
        { title: "About", icon: "mdi-forum" },
      ],
    };
  },
  props: {
    simple_links: Array,
    dropdown_links: Array,
  },
  methods: {
    executeAction(action) {
      if (action !== null) action();
      return false;
    },
    determineRole() {
      return "role";
    },
    previousRoute() {
      this.$router.back();
    },
  },
};
</script>
