<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card>
          <v-card-title> Package Center </v-card-title>
          <v-card-text>
            <v-row>
              <v-col>
                <v-btn
                  color="primary"
                  elevation="2"
                  plain
                  @click="getInstalledPackages"
                >
                  Load Packages
                </v-btn></v-col
              >
            </v-row>

            <v-spacer></v-spacer>
            <v-row>
              <v-col>
                <v-btn
                  :disabled="apkUploadDisbled"
                  color="secondary"
                  elevation="2"
                  plain
                  @click="installPackage"
                >
                  Install application
                </v-btn>
              </v-col>
              <v-col
                ><v-file-input
                  label="APK file to install"
                  v-model="apkFile"
                  chips
                  show-size
                  truncate-length="15"
                ></v-file-input
              ></v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col v-if="selectedPackage.packageName">
        <v-card>
          <v-card-title>Selected package</v-card-title>
          <v-card-text caption>
            <dl class="row">
              <dt class="col-md-4 pb-0">Package name</dt>
              <dd class="col-sm-8 pb-0">{{ selectedPackage.packageName }}</dd>
              <dt class="col-md-4 pb-0">Full package name</dt>
              <dd class="col-sm-8 pb-0">
                {{ selectedPackage.fullPackageName }}
              </dd>
              <dt class="col-md-4 pb-0">Main activity</dt>
              <dd class="col-sm-8 pb-0">{{ selectedPackage.mainActivity }}</dd>
            </dl>
          </v-card-text>
          <v-card-actions>
            <v-btn rounded color="success" @click="runPackage">
              <v-icon small class="mr-2"> mdi-play </v-icon>
            </v-btn>
            <v-btn rounded color="secondary" @click="stopPackage">
              <v-icon small> mdi-stop </v-icon>
            </v-btn>
            <v-btn rounded color="error" @click="uninstallPackage">
              <v-icon small> mdi-delete </v-icon>
            </v-btn>
            <v-btn rounded color="info" @click="clearSelectedPackage">
              <v-icon small> mdi-close </v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-data-table
          :headers="headers"
          :items="items"
          dense
          class="elevation-1"
          :items-per-page="5"
          :loading="packagesLoading"
          loading-text="Loading... Please wait"
          :footer-props="{
            'disable-items-per-page': true,
          }"
          @click:row="rowClicked"
        >
        </v-data-table>
      </v-col>
    </v-row>
    <v-overlay :value="overlay">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
    <v-dialog v-model="dialog" hide-overlay persistent width="500">
      <v-card color="error" dark>
        <v-card-text>
          Unable to complete action. Error message <br />
          {{ errorMessage }}
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import AdbService from "@/services/AdbService";
export default {
  name: "PackageCenter",
  data: () => ({
    apkFile: null,
    apkUploadDisbled: true,
    dialog: false,
    errorMessage: "",
    overlay: false,
    packagesLoading: true,
    selectedPackage: {
      packageName: null,
      fullPackageName: null,
      mainActivity: null,
    },
    headers: [
      { text: "Package Name", value: "packageName" },
      { text: "Full Name", value: "fullPackageName" },
      // { text: "Activity Name", value: "mainActivity" },
    ],
    items: [{ name: "Instagram" }],
  }),
  computed: {
    deviceId: function () {
      return this.$store.state.deviceId;
    },
  },
  methods: {
    clearSelectedPackage() {
      this.selectedPackage = {
        packageName: null,
        fullPackageName: null,
        mainActivity: null,
      };
    },
    async getInstalledPackages() {
      this.packagesLoading = true;
      AdbService.getInstalledPackages(this.deviceId)
        .then((result) => {
          this.items = [];
          this.items = result;
          this.packagesLoading = false;
        })
        .catch((error) => {
          this.packagesLoading = false;
          console.log(error);
        });
    },
    rowClicked(row) {
      this.selectedPackage.packageName = row.packageName;
      this.selectedPackage.fullPackageName = row.fullPackageName;
      this.selectedPackage.mainActivity = row.mainActivity;
    },
    async runPackage() {
      this.overlay = true;
      AdbService.runPackage(this.deviceId, this.selectedPackage.mainActivity)
        .then((result) => {
          this.overlay = false;
          console.log(result);
        })
        .catch((error) => {
          this.overlay = false;
          this.dialog = true;
          if (error.request.response) {
            let jsonResponse = JSON.parse(error.request.response);
            this.errorMessage = jsonResponse.message;
          } else this.errorMessage = "Unexpected error. Please try again";
        });
    },
    async stopPackage() {
      this.overlay = true;
      AdbService.stopPackage(this.deviceId, this.selectedPackage.packageName)
        .then((result) => {
          this.overlay = false;
          console.log(result);
        })
        .catch((error) => {
          this.overlay = false;
          this.dialog = true;
          if (error.request.response) {
            let jsonResponse = JSON.parse(error.request.response);
            this.errorMessage = jsonResponse.message;
          } else this.errorMessage = "Unexpected error. Please try again";
        });
    },
    async installPackage() {
      this.overlay = true;
      AdbService.installPackage(this.deviceId, this.apkFile)
        .then((result) => {
          this.overlay = false;
          this.apkFile = null;
          this.getInstalledPackages();
          console.log(result);
        })
        .catch((error) => {
          debugger;
          this.overlay = false;
          this.dialog = true;
          if (error.request.response) {
            let jsonResponse = JSON.parse(error.request.response);
            this.errorMessage = jsonResponse.message;
          } else this.errorMessage = "Unexpected error. Please try again";
        });
    },
    async uninstallPackage() {
      this.overlay = true;
      AdbService.uninstallPackage(
        this.deviceId,
        this.selectedPackage.packageName
      )
        .then((result) => {
          this.overlay = false;
          this.clearSelectedPackage();
          this.getInstalledPackages();
          console.log(result);
        })
        .catch((error) => {
          debugger;
          this.overlay = false;
          this.dialog = true;
          if (error.request.response) {
            let jsonResponse = JSON.parse(error.request.response);
            this.errorMessage = jsonResponse.message;
          } else this.errorMessage = "Unexpected error. Please try again";
        });
    },
  },
  mounted() {
    this.getInstalledPackages();
  },
  watch: {
    dialog(val) {
      if (!val) return;
      setTimeout(() => (this.dialog = false), 4000);
    },
    apkFile(val) {
      if (!val || val.name.indexOf(".apk") === -1) this.apkUploadDisbled = true;
      else this.apkUploadDisbled = false;
      console.log(val);
    },
  },
};
</script>

<style scoped></style>
