<template>
  <v-card>
    <v-card-title>Sequences runner</v-card-title>
    <v-card-subtitle>Choose which sequence you want to start!</v-card-subtitle>
    <v-card-text>
      <v-data-table
        dense
        :headers="headers"
        :items="sequences"
        :items-per-page="5"
        :footer-props="{
          'disable-items-per-page': true,
        }"
        class="elevation-1"
      >
        <template v-slot:item.actions="{ item }">
          <v-icon small class="mr-2" color="success" @click="runSequence(item)">
            mdi-play
          </v-icon>
          <v-icon small color="error" @click="stopSequence(item)">
            mdi-stop
          </v-icon>
        </template>
        <template v-slot:no-data>
          <v-btn color="primary" @click="reload"> Reload </v-btn>
        </template>
      </v-data-table>
    </v-card-text>
  </v-card>
</template>

<script>
import SequenceService from "@/services/SequenceService";
import DeviceStateService from "@/services/DeviceStateService";

export default {
  name: "SavedSequencesTableRunner",
  components: {},
  props: {},
  data: () => ({
    dialog: false,
    dialogDelete: false,
    addDialogModel: false,
    editedItem: {
      id: -1,
      name: "",
      numberOfBlocks: -1,
      status: "",
    },
    defaultItem: {
      id: -1,
      name: "",
      numberOfBlocks: -1,
      status: "",
    },
    headers: [
      { text: "Id", value: "id", align: " d-none" },
      { text: "Sequence Name", value: "name" },
      { text: "Number Of Blocks", value: "numberOfBlocks" },
      { text: "Status", value: "status" },
      { text: "Actions", value: "actions", sortable: false },
    ],
    sequences: [
      { id: 1, name: "seq1", numberOfBlocks: 1, status: "ready" },
      { id: 2, name: "seq2", numberOfBlocks: 2, status: "ready" },
      { id: 4, name: "seq3", numberOfBlocks: 3, status: "ready" },
    ],
  }),
  methods: {
    reload() {
      this.getSequences();
    },
    async getSequences() {
      SequenceService.getSequences().then((result) => {
        console.log(result);
        this.sequences = result;
      });
    },
    async runSequence(item) {
      console.log(item);
      DeviceStateService.startDeviceMonitor(this.deviceName)
        .then((result) => {
          console.log(result);
          SequenceService.runSequence(item.id)
            .then(() => {
              this.getSequences();
            })
            .catch((error) => {
              console.log(error);
            });
        })
        .catch((error) => {
          console.log(error);
        });
    },
    async stopSequence(item) {
      SequenceService.stopSequence(item.id)
        .then((result) => {
          console.log(result);
          this.getSequences();
          DeviceStateService.stopDeviceMonitor(this.deviceName);
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  computed: {
    deviceName: function () {
      return this.$store.state.avdName;
    },
  },
  mounted() {
    console.log("mounted SavedSequencesViewer");
    this.getSequences();
  },
};
</script>
.v-card--reveal { bottom: 0; opacity: 1 !important; position: absolute; width:
100%; }
<style scoped></style>
