<template>
  <v-card loading>
    <v-card-title>Saved Sequences</v-card-title>
    <v-card-subtitle>Displays saved sequences</v-card-subtitle>
    <v-card-text>
      <v-data-table
        dense
        :headers="headers"
        :items="sequences"
        class="elevation-1"
      >
        <template v-slot:top>
            <v-dialog v-model="dialogDelete" max-width="500px">
              <v-card>
                <v-card-title class="headline"
                  >Are you sure you want to delete this item?</v-card-title
                >
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="closeDelete"
                    >Cancel</v-btn
                  >
                  <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                    >OK</v-btn
                  >
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
        </template>
        <template v-slot:item.actions="{ item }">
          <v-icon small class="mr-2" color="accent" @click="editItem(item)">
            mdi-pencil
          </v-icon>
          <v-icon small color="error" @click="deleteItem(item)">
            mdi-delete
          </v-icon>
        </template>
        <template v-slot:no-data>
          <v-btn color="primary" @click="reload"> Reload </v-btn>
        </template>
      </v-data-table>
    </v-card-text>
    <v-card-actions>
      <v-dialog transition="dialog-bottom-transition" max-width="600">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            color="primary"
            v-bind="attrs"
            v-on="on"
            text
            @click="clearValues"
            >Add Sequence</v-btn
          >
        </template>
        <!-- eslint-disable-next-line vue/no-unused-vars -->
        <template v-slot:default="addDialog">
          <v-card v-model="addDialogModel">
            <v-toolbar color="primary" dark>New sequence</v-toolbar>
            <v-card-text>
              <form>
                <v-text-field
                  v-model="sequenceToAdd.name"
                  :counter="64"
                  label="Name"
                  :rules="[rules.required, isNameValid]"
                  :error-messages="nameNotValidError"
                ></v-text-field>
              </form>
            </v-card-text>
            <v-card-actions class="justify-end">
              <v-btn text @click="addSequence">Add</v-btn>
              <v-btn text @click="close(addDialog)">Cancel</v-btn>
            </v-card-actions>
          </v-card>
        </template>
      </v-dialog>
    </v-card-actions>
  </v-card>
</template>

<script>
import SequenceService from "@/services/SequenceService";

export default {
  name: "SavedSequencesViewer",
  components: {},
  props: {},
  data: () => ({
    dialog: false,
    dialogDelete: false,
    addDialogModel: false,
    editedItem: {
      id: -1,
      name: "",
      numberOfBlocks: -1,
      status: "",
    },
    defaultItem: {
      id: -1,
      name: "",
      numberOfBlocks: -1,
      status: "",
    },
    headers: [
      { text: "Id", value: "id", align: " d-none" },
      { text: "Sequence Name", value: "name" },
      { text: "Number Of Blocks", value: "numberOfBlocks" },
      { text: "Status", value: "status" },
      { text: "Actions", value: "actions", sortable: false },
    ],
    sequences: [
      { id: 1, name: "seq1", numberOfBlocks: 1, status: "ready" },
      { id: 2, name: "seq2", numberOfBlocks: 2, status: "ready" },
      { id: 4, name: "seq3", numberOfBlocks: 3, status: "ready" },
    ],
    sequenceToAdd: {
      name: null,
    },
    isNameNotValid: false,
    nameNotValidError: "",
    rules: {
      required: (value) => !!value || "Required.",
    },
    sequenceToDelete: {},
  }),
  methods: {
    reload() {
      this.getSequences();
    },
    async getSequences() {
      SequenceService.getSequences().then((result) => {
        console.log(result);
        this.sequences = result;
      });
    },
    editItem(item) {
      this.$emit("selectedSequenceId", item.id);
      console.log(item);
      this.editedIndex = this.sequences.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      debugger;
      this.editedIndex = this.sequences.indexOf(item);
      this.sequenceToDelete = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.closeDelete();
      SequenceService.deleteSequence(this.sequenceToDelete.id)
        .then((result) => {
          this.sequenceToDelete = {};
          this.$emit("selectedSequenceId", null);
          this.reload();
          console.log(result);
        })
        .catch((error) => {
          console.log(error);
        });
    },

    close(dialog) {
      dialog.value = false;
      this.clearValues();
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    async addSequence() {
      let sequence = {
        name: this.sequenceToAdd.name,
      };
      SequenceService.addSequence(sequence)
        .then(() => {
          // console.log(result);
          debugger;
          this.addDialog.value = false;
          this.clearValues();
          this.reload();
        })
        .catch((error) => {
          if (
            error.response &&
            error.response.data &&
            error.response.data.type === "TECHNICAL"
          ) {
            this.nameNotValidError = error.response.data.message;
          } else console.log(error);
        });
    },
    isNameValid() {
      console.log(this.nameNotValidError);
      return true;
    },
    clearValues() {
      this.nameNotValidError = "";
      this.sequenceToAdd.name = "";
    },
  },
  mounted() {
    console.log("mounted SavedSequencesViewer");
    this.getSequences();
  },
};
</script>
.v-card--reveal { bottom: 0; opacity: 1 !important; position: absolute; width:
100%; }
<style scoped></style>
