<template>
<v-container>
  <v-card>
    <v-card-title>Sensor status</v-card-title>
    <v-data-table
        :headers="headers"
        :items="items"
        dense
        class="elevation-1"
        :items-per-page="5"
        :footer-props="{
        'disable-items-per-page': true,
      }"
    />
  </v-card>
</v-container>
</template>

<script>
import SensorService from "@/services/SensorService";

export default {
name: "SensorTable",
  data: () => ({
    headers: [
      { text: "Sensor Name", value: "name" },
      { text: "Status", value: "status" },
      { text: "Value", value: "value" },
    ],
    items: [
      { name: "name 1", status: "john", value: "Mike" },
      { name: "name 2", status: "James", value: "Bill" },
      { name: "name 3", status: "Jack", value: "Ben" },
    ],
  }),
  methods: {
    async getSensors() {
      SensorService.getSensors().then((values) => {
        this.items = [];
        values.forEach((item) => {
          // todo handling error!
          console.log(item);
          this.items.push(item);
        });
      });
    },
  },
  mounted() {
    this.getSensors();
  },
}
</script>

<style scoped>

</style>