<template>
  <v-container>
    <v-card class="mx-auto m" fluid color="secondary">
      <v-card-title>
        {{ sequence.name }}
      </v-card-title>
      <v-card-subtitle> Status: {{ sequence.status }} </v-card-subtitle>
      <v-card-text>
        <dl class="row">
          <dt class="col-sm-4 pb-0">ID</dt>
          <dd class="col-sm-8 pb-0">
            {{ sequence.id }}
          </dd>
          <dt class="col-sm-4 pb-0">Number of blocks</dt>
          <dd class="col-sm-8 pb-0">
            {{ sequence.numberOfBlocks }}
          </dd>
          <dt class="col-sm-4 pb-0">Start time</dt>
          <dd class="col-sm-8 pb-0">
            {{ sequence.startTime }}
          </dd>
          <dt class="col-sm-4 pb-0">Finish time</dt>
          <dd class="col-sm-8 pb-0">
            {{ sequence.finishTime }}
          </dd>
          <dt class="col-sm-4 pb-0">Exception text</dt>
          <dd class="col-sm-8 pb-0">
            {{ sequence.exceptionMessage }}
          </dd>
        </dl>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: "SequenceDescription",
  props: {
    sequence: {
      id: null,
      name: null,
      numberOfBlocks: null,
      status: null,
      exceptionMessage: null,
      startTime: null,
      finishTime: null,
    },
  },
};
</script>

<style scoped></style>
